.env

### Spring ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Node ###
frontend/scarlet_shade/node_modules

### Output ###
frontend/scarlet_shade/.output
frontend/scarlet_shade/.vercel
frontend/scarlet_shade/.netlify
frontend/scarlet_shade/.wrangler
frontend/scarlet_shade/.svelte-kit
frontend/scarlet_shade/build

### Vite ###
frontend/scarlet_shade/vite.config.js.timestamp-*
frontend/scarlet_shade/vite.config.ts.timestamp-*

### Operational System ###
.DS_Store
Thumbs.db