@import url("../style.css");

.overlay {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal form {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--modal-menu-color);
    color: var(--text-modal-color);
    padding: 20px;
    border-radius: 12px;
    min-width: 300px;
    z-index: 10;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
}

.buttons button {
    background: transparent;
    border: none;
    cursor: pointer;

    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, transform 0.15s ease;
}

.buttons button img {

    width: 100%;
    height: 100%;
}

.buttons button:hover {

    transform: scale(1.5);
}

.save:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(1);
}

.modal img {
    padding: 0 !important;
}