@import url("../style.css");

body {
    background-image: var(--inital-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3rem;

    overflow: hidden;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: start;
    margin-top: -1em;
}

.title h1 {
    color: var(--carmin-color);
    font-size: 7rem;
    font-weight: 600;
    text-shadow: var(--text-shadow);
    line-height: 1;
}

h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

h5{
    margin: 0;
    color: var(--carmin-color);
}

.slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 5rem;
    margin-top: -4%;
}

.slot_container {
    position: relative;
    height: fit-content;

    font-size: 2rem;
    transition: 0.3s ease-in-out;
}

.slot_title {

    margin: 0;
    padding: 0 0 0 0;

    font-family: var(--text-family);
    font-weight: 600;
    color: var(--carmin-color);
    text-align: center;
}

.slot_style {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 18rem;
    height: 9rem;
    padding: 0.2rem 1.5rem;

    border: 2px solid black;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    cursor: pointer;

    background: none;
    transition: 0.3s ease-in-out;
}

.slot_style::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: blur(0.5px);
    transform: scale(1.15);
}

.completed, .notStarted, .started {
    background-size: cover;
    background-position: center;
}

.completed {
    background-image: url("$assets/backgroundImages/finalizedGame.jpg");
}

.notStarted {
    background-image: url("$assets/backgroundImages/startNewGame.jpg");
}

.started {
    background-image: url("$assets/backgroundImages/playingGame.jpg");
}

.slot_style::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(56, 56, 56, 0.3);
    z-index: -1;
}

.slot_container:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.trash {
    position: absolute;
    right: -5%;
    bottom: -10%;
    background-color: var(--secondary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trash img {
    width: 2rem;
    height: 2rem;
}

.icons {
    position: absolute;
    right: 5%;
    bottom: 2%;

    display: flex;
    align-items: center;
}

.icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icons button img {
    width: 4em;
    height: 4em;
    padding-left: 3em;
    object-fit: cover;
}

.icons button:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
}

.delete_text{
    color: var(--text-modal-color);
}

.logout{
    display: flex;
    align-items: center;
}

@media (min-width: 1281px) {

    .icons {
        bottom: -1%;
    }

}

@media (max-width: 1280px) {

    .title h1 {
        font-size: 6rem;
        line-height: 1;
    }

    .slot_style {
        width: 15rem;
        height: 8rem;
        padding: 0.2rem 1.5rem;
    }

    .icons {
        position: absolute;
        bottom: 0;
    }
}