@import url("commum.css");

body {
    background-image: url("$assets/images/backgroundImages/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1em 1.5em 0em 1.5em;
    overflow: hidden;
    box-shadow: inset 0 10px 10px 5px rgba(0, 0, 0, 0.4);
    min-height: 100vh;
}

.back_arrow {
    position: absolute;
    top: -0.5em;
    left: 0;
    font-size: 5rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    cursor: pointer;
    margin-bottom: 1em;
    transition: 0.3s ease-in-out;
}

.title {
    text-align: start;
}

.title h1 {
    color: var(--carmin-color);
    font-size: 8rem;
    font-weight: 600;
    text-shadow: var(--text-shadow);
    margin: 0;
    line-height: 1;
}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 40%;
    padding: 1em;
    box-sizing: border-box;
    z-index: 20;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    margin-top: 0.5em;
    width: 100%;
    margin-left: 1em;
}

.buttons {
    display: flex;
    align-items: start;
    margin-bottom: 1.5em;
}

.arrow_katana {
    position: absolute;
    left: 0;
    top: 50%;
    height: auto;
    width: 3.5rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%) translateX(-6px);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.main_buttons, .login_but, .register_but {
    position: relative;
    padding: 10px 16px;
    padding-left: 1.5em;
    cursor: pointer;
}

.main_buttons:hover .arrow_katana {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.login_but:hover .arrow_katana {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.register_but:hover .arrow_katana {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

button {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-family: "Osake", sans-serif;
    font-size: 2.5rem;
    border: none;
    font-weight: 600;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    margin: 0.3em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    --tx: 0px;
    --t: 0.4s;
    transform: translateX(var(--tx)) scale(1);
    transition: transform var(--t) ease-in-out;
}

button:hover {
    transform: translateX(var(--tx)) scale(1.5);
    color: #800000;
}

.login {
    display: none;
    margin-bottom: 1.5em;
}

.register {
    display: none;
}

input {
    background-color: transparent;
    background-image: url("$assets/images/textures/crack.png");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: right;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 1.2rem;
    font-family: "Osake", sans-serif;
    transition: 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--border-color);
    transform: scale(1.1);
    transition: 0.3s ease-in-out
}

input::placeholder {
    color: var(--text-color);
    opacity: 0.9;
    text-align: start;
}

.right_side {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: visible;
}

.samurai__Image {
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 9em;
    object-fit: cover;
    opacity: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    animation: fade 15s infinite;
    mask-image: linear-gradient(to top, black 0%, black 100%);
}

.img1 {
    animation-delay: 0s;
}

.img2 {
    animation-delay: 5s;
}

.img3 {
    animation-delay: 10s;
}

.fog {
    /*It serves to remove the fog effect from the right side of the screen */
    mask-image: linear-gradient(to right, transparent 0%, black 80%, transparent 100%);
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100vw !important;
    /*It serves to let us to click on the buttons behind the fog*/
    pointer-events: none;
    animation: fogAnimation calc(8s * var(--i)) linear infinite;
}

.fog:hover {
    cursor: default;
}