@font-face {
    font-family: "Osake";
    src: url("$assets/fonts/osake/OsakeFont.otf");
}

@font-face {
    font-family: "Jansina";
    src: url("$assets/fonts/jansina/JANSINA.ttf");
}

:root{
    
    --carmin-color: #960018;
    --secondary-color: #b22222;
    --border-color: #4b0000;
    --save-color: rgb(13, 149, 13);
    --modal-menu-color: rgba(0, 0, 0, 0.6);

    --text-family: "Osake", sans-serif;
    --text-input-family: "Jansina", cursive;
    --text-color: #0f0f0f;
    --text-modal-color: #ffffff;
    --text-shadow: 5px 10px 10px rgba(59, 59, 59, 0.8);

    --inital-background-image: url("$assets/backgroundImages/initialBackground.png");
    --crack-texture: url("$assets/textures/crackTexture.png");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-family);
    height: 100vh;
}